.imges ul li img{
    border-radius: 60px 0 60px 60px ;


}
@media (min-width:800px) {
   .imges li:first-child,
.imges li:nth-child(3){
    width: 15rem; 
       height: 230px;
       margin-top: auto;
}
.imges li:nth-child(2),
.imges li div{
    width:57%;
} 

}
@media (max-width:1050px) {
   .imges li:first-child,
.imges li:nth-child(3){
    width: 9rem; 
       height: 200px;
       margin-top: auto;
}
.imges li:nth-child(2),
.imges li div{
    width:67%;
} 
}
@media (max-width:950px) {
    .imges ul{
     display: flex;
     justify-content: center;
     margin-bottom: 30px;
    }
   .imges li:first-child,
.imges li:nth-child(3){
    width: 15rem; 
       height: 200px;
       margin-top: auto;
}
.imges li:nth-child(2),
.imges li div{
    width:40%;
} 
.imges::after{
    top: 48% !important;
    left: 43% !important;
}

}
@media (max-width:800px) {
   .imges li:first-child,
.imges li:nth-child(3){
    width: 15rem; 
       height: 200px;
       margin-top: auto;
}
.imges li:nth-child(2),
.imges li div{
    width:50%;
} 

}

ul .oneim img{
          border-radius:0 60px  60px 60px !important;
        
}

.three img{
    border-radius: 60px  60px 60px  0 !important;
}
ul{
    display: flex;
    flex-wrap: wrap;
}
.imges{
    position: relative;
}
.imges ul li{
    display: inline-flex;
    margin-bottom: 20px;
    padding: 0 10px;
}
.aboutcon{
    text-align: left;
    display: flex;
    justify-content: left;
    align-items: start;
}
.imges li div{
    position: relative;
    background-color: #e6e7ff;  
      border-radius: 60px 60px 0 60px;    
     padding: 20px 0 20px;    
     color: #565acf;
  text-align: center;   
  font-weight:800 !important;
    font-size: 120px;
    width: 230px;
}
.imges li span{
    font-size: 18px;
    color: var(--maincolor);
}
.imges li div::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid var(--maincolor);
    left: 18px;
    top: 10px;
    border-radius: 60px 60px  0 60px;
}

.imges::after{

    content: ""; 
       position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: var(--orange);
z-index: 1;
top: 52%;
left: 34%;
transform: rotate(45deg);

}
.content h6{
    text-align: center;
    margin: 0 !important; 
     background-image: url("../../img/blogdetails/download\ \(2\)doc.png");
    background-repeat: repeat;
    color: var(--orange) !important;
    width: 120px;
    margin: 7px auto;
    padding: 7px;
    font-weight: 700;
}

.content h2{
    padding: 25px 0;

}
.content ul{
    display: flex;
    align-items: center;
    padding: 0px 0 5px 0;  
    margin-right: 50px !important;
    padding-left: 0 !important;
    justify-content: space-between;
}
.content ul li{
    padding:  10px  ;
    margin-bottom: 10px;
   margin-right: 0 !important;
    background-color: #fff;
    border: 1px solid #565acf;
    align-items: center;
    border-radius: 8px; 
      color: var(--maincolor);
    font-size: 20px;
    font-weight: 600;
    width: 250px;
}
.content ul li svg{
    font-size: 40px;
    margin-right: 7px;
    color: #565acf;
   transition: all 0.3s ease-in-out;

}
.content ul li:hover svg{
    animation: move 0.8s  infinite  ease-in-out;
}
@keyframes move {
    0%,20%,40%,60%,80%,100%{
        transform: translateX(-3px);
    }
     10%,30%,50%,70%,90%{
        transform: translateX(3px);
    }
    
}
.content button{
    border-radius: 8px;
    padding:10px 30px;
    line-height: 3px;
}
.allimg{
position: relative;
  display: flex;
  flex-wrap: wrap; 
  gap: 15px;
  align-items: center;
  justify-content: center; 
}
.allimg .dowimg img{
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}
.allimg>img{
    height: 580px;
    width: 570px;
    z-index: -100;
}
.allimg .dowimg{
    position: absolute;
    content: "";
    
}
/* الموبايل */
@media (max-width:967px) {
    .dowimg[data-num="1"] { top: 19px; left: 50%; transform: translateX(-50%); }
    .dowimg[data-num="2"] { top: 34%; right: 10px; transform: translateY(-50%); }
    .dowimg[data-num="3"] { bottom: 28%; right: 35px; transform: translateY(50%); }
    .dowimg[data-num="4"] { bottom: 19px; left: 50%; transform: translateX(-50%); }
    .dowimg[data-num="5"] { bottom: 29%; left: 30px; transform: translateY(50%); }
    .dowimg[data-num="6"] { top: 33%; left: 20px; transform: translateY(-50%); }
}

/* الديسكتوب */
@media (min-width:967px) {
    body {
        background-color: #565acf;
    }
    .dowimg[data-num="1"] { top: 19px; left: 50%; transform: translateX(-50%); }
    .dowimg[data-num="2"] { top: 34%; right: 88px; transform: translateY(-50%); }
    .dowimg[data-num="3"] { bottom: 28%; right: 107px; transform: translateY(50%); }
    .dowimg[data-num="4"] { bottom: 19px; left: 50%; transform: translateX(-50%); }
    .dowimg[data-num="5"] { bottom: 27%; left: 121px; transform: translateY(50%); }
    .dowimg[data-num="6"] { top: 33%; left: 97px; transform: translateY(-50%); }
}
@media (min-width: 1024px) {
        .dowimg[data-num="1"] { top: 19px; left: 50%; transform: translateX(-50%); }
.dowimg[data-num="2"] { top: 34%; right: 70px; transform: translateY(-50%); }
.dowimg[data-num="3"] { bottom: 28%; right: 90px; transform: translateY(50%); }
.dowimg[data-num="4"] { bottom: 19px; left: 50%; transform: translateX(-50%); }
.dowimg[data-num="5"] { bottom: 27%; left: 95px; transform: translateY(50%); }
.dowimg[data-num="6"] { top: 33%; left: 78px; transform: translateY(-50%); }
}

.swiper-slide {
display: flex;
flex-direction: column;
align-items: start;
text-align: left;
}
.swiper-slide>div{
    background-color: var(--orange);
    padding: 60px;
    color: #fff !important;
    border-radius: 60px 0 60px 60px;

}
.swiper-slide div h5,
.swiper-slide div p{
    color: #fff !important;
}
.swiper-slide div .info{
    margin-top: 40px;   display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

/* لو عايزة تغيّري لون النقطة اللي نشطة */
.mySwiper .swiper-pagination-bullet-active {
  background:#fff; /* اللون للنقطة اللي نشطة */
}

.swiper-slide .info img{
    width: 100px;
    opacity: 0.8;
}

.swiper-slide svg {
    position: relative;
    padding: 15px;
    border-radius: 8px;
    width: 42px;
    height: 47px;
    background-color: #fff;
    top: 43px;
    left: 11%;
    color: var(--orange);
    z-index: 1000;
}
@media screen and (max-width:880px) {
    .dowimg[data-num="2"] {
        right: 77px;
}
    .dowimg[data-num="3"] {
        right: 100px;

}
    .dowimg[data-num="6"]
 {
        left: 85px;
}
    .dowimg[data-num="5"] {
        bottom: 28%;
        left: 102px;

    }
        .imges li:nth-child(2) {
        width: 50%;
    }
}
@media screen and (max-width:580px) {
    .aboutcon .row ul {
    margin-left: 1px;
}
.content ul li {
    width: 474px;
}
.doctors .doc {
    margin-top: 20px;
}
.allimg>img {
    height: 541px;
}
  .dowimg[data-num="2"] {
        right: 15px;
}
    .dowimg[data-num="3"] {
        right: 29px;

}
    .dowimg[data-num="6"]
 {
        left: 9px;
}
    .dowimg[data-num="5"] {
        bottom: 28%;
        left: 32px;

    }
    .doc .docimg::after {
    left: 58%;
    top: 55%;
}
.imges li:nth-child(2) {
        width: 50% !important;
    }
}





@media (max-width:1240px) {
        .imges li:nth-child(2) {
        width: 54%;
    }.imges {
        margin-top: 148px;
}
.imges::after {
        top: 46%;
        left: 40%;
    }

}
 
 
@media (min-width: 992px) and (max-width:1288px) {
    .col-lg-4{
        width: 45.333333% !important;
        margin-top: 25px !important;
    }
   .slide> .col-lg-6 {

        width: 39% !important;
    }
    .swiper-slide>div {
    padding: 41px 20px;

}
    .imges li:nth-child(2){
        width: 55%;
    }
.swiper-slide svg {
    width: 25px;
    height: 36px;
    top: 36px;
    left: 17%;

}
.allimg>img {
    height: 446px;
    width: 606px;
    z-index: -100;
}
    .dowimg[data-num="2"] {
        right: 27px;
 
    }
    .dowimg[data-num="3"] {

        right: 37px;
   
    }
    .dowimg[data-num="6"] {
        left: 28px;

    }
    .dowimg[data-num="5"] {
        left: 39px;
    }
    .imges::after{
        top: 47%;
        left: 39%;
    }

#root .content {

 text-align: start !important; 

}
.content h6{
   text-align: start;
    margin-left: -299px !important;

}
.aboutcon .row ul {
    margin-left: 4px;
}
.content ul li {
    width: 417px;
}
}
   @media screen and (max-width:365px) {
        .panner h2{
        font-size: 51px !important;
    }
     .imges li div
 {
        width: 132px !important;
    
}
    .aboutcon h2{
    font-size: 25px !important;
}
.aboutcon p {
    font-size: 15px;
}
    .aboutcon h6{
        margin-right: 184px !important;
    }
    .doc .docimg:before {
    left: 65%;
    top: 60%;
}
.doc .docimg::after {
    left: 51%;
    top: 52%;
}
}
@media screen and (max-width:450px) {
    .imges li div {
    background-color: #e6e7ff;
    border-radius: 60px 60px 0 60px;
    padding: 17px 0 20px;
    color: #565acf;
    text-align: center;
    font-weight: 700 !important;
    font-size: 77px;
    width: 158px;
}
    .imges li:first-child, .imges li:nth-child(3) {
        width: 9rem;
        height: 178px;
        margin-top: auto;
    }
        .imges::after {
        top: 40% !important;
        left: 38% !important;
    }
    .aboutcon{
        text-align: start !important;
    }
    .aboutcon h6 {
    margin-right: 189px !important;
}
.aboutcon .row ul {
        margin-left: 2px;
    }
.allimg>img {
    height: 370px;
}
.allimg .dowimg img {
    width: 43px;
    height: 43px;
}
.swiper-slide svg {
        width: 31px;
        top: 38px;
        left: -66%;
    }

.swiper-slide p {
    font-size: 15px;
}
.swiper-slide .info img {
    width: 69px;
    opacity: 0.8;
    margin-top: -13px;
}
.content ul li {
    width: 299px;
}
    .heading h2{
        font-size: 26px !important;
    }
    .btnblog a {
    padding: 3px 9px;
}
.about1{
    margin-top: 117px;
}
 .dowimg[data-num="2"] {
        right: 13px;
}
    .dowimg[data-num="3"] {
        right: 27px;

}
    .dowimg[data-num="6"]
 {
        left: 22px;
}
    .dowimg[data-num="5"] {
        bottom: 28%;
        left: 27px;

    }
}
@media screen and (max-width:1290px) {

    
}