
.q{
    margin-bottom: 25px;
}
.q .quetion h2 {
  font-size: 19px !important;
  font-weight: 700;

}
.q .quetion h2 button {
    width: 100%;
  color: #fff !important; 
   border-radius: 8px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  transition: 0.5s ease-in-out;

}
.phide{
    padding: 25px;
    border-radius:0 0 8px 8px;
    background-color:rgba(86,90,207,.1) ;  
    margin-top: -16px !important;
}
.quetion{
    margin-bottom: 15px;
}
.row{
    margin: 20px 0 38px;
}